<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url('manager')}'">
            刷新
            <i class="icon-reply icon-only"></i>
        </span>
        <span style="margin-right: 5px;" class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url('manager',[excel=>1])}'">
            导出Excel
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getName()} 
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12" style="margin-bottom:10px;">
            <form action="" method="post">
               会员编号<input type="text" name="UserId" value="{$where.UserId}">
               <input type="submit" value="查询" name="submit">
            </form>
        </div>
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th class="detail-col">会员编号</th>
                                <th>可转移资产</th>
                                <th>GAS</th>
                                <th>FCC</th>
                            </tr>
                        </thead>

                        <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{$vo.UserId}</td>
                                <td>{$vo.Release}</td>
                                <td>{$vo.Gas}</td>
                                <td>{$vo.Amount}</td>
                            </tr>
                            {/volist}
                            <tr>    
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>                            
                                <td>总合计</td>
                                <td>{$count.release}</td>
                                <td>{$count.gas}</td>
                                <td>{$count.fcc}</td>
                            </tr>    
                        </tbody>
                    </table>
                    {$list->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
        </div>


            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/js/laydate.js"></script>
<script>
laydate.render({
  elem: '#calendar',type: 'datetime',range: true
});
</script>


