<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<h1>213</h1>
	<h2>FCC:</h2><h2>可转移:</h2>
	<div style="border: 1px solid red; width: 500px;height: 100px;">
		<a href="">今日智能算力</a>
		<a href="">今日链接算力</a>
		<a href="">我的GAS</a>
		<a href="">我的推广</a>
		<a href="">我的分享</a>
		<a href="">设置</a>
	</div>
	<div style="border: 1px solid red; width: 200px;height: 100px;">
		<a href="">首页</a>
		<a href="">地址</a>
		<a href="">算力</a>
		<a href="">我的</a>
	</div>
</body>
</html>