<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url(\"news\")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$url}" method="post" name="myfrom" >
                {:input('id')?'<input type="hidden" value="'.$info['Id'].'" name="Id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">标题</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.Title|default=''}" name="Title"/>
                    </div>
                </div>    
                <div class="space-4"></div>




                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">内容</label>
                    <div class="col-sm-9">
                        <textarea id="fuwen" name="Content">{$info.Content|default=''}
                        </textarea>
                    </div>
                </div>    
              
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">类型</label>
                    <div class="col-sm-9">
                        <select name="Type">
                            <option value="0">系统</option>
                        </select>
                    </div>
                </div>    

                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="__STATIC__/layui/layui.js"></script>
<script type="text/javascript">
    layui.use('layedit', function(){
      var layedit = layui.layedit;
      layedit.build('fuwen',{
        width:100,
        tool: ['strong','italic','underline','strikeThrough','left','center','right','link', 'unlink', 'face']
      });
    });
</script>