<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'register'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
        <span style="margin-right: 5px;" class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url(\"index\",[export=>1])}'">
            导出Excel
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getName()} 
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12" style="margin-bottom:10px;">
            <form action="" method="post">
               会员编号<input type="text" name="Id" value="{$where.Id}">
               钱包地址<input type="text" name="WalletAdress" value="{$where.WalletAdress}">
               昵称<input type="text" name="NickName" value="{$where.NickName}">
               激活日期<input type="text" name="JiHuoDate" id="calendar" style="width: 270px;"  value="{$where.JiHuoDate}">
               状态<select name="JiHuoMemberType"><option value="">请选择</option><option value="1">激活</option><option value="0">未激活</option></select>
               <input type="submit" value="查询" name="submit">
            </form>
        </div>
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th class="detail-col">会员编号</th>
                                <th>昵称</th>
                                <th>推荐人</th>
                                <th>节点人</th>
                                <th>注册时间</th>
                                <th>状态</th>
                                <th>本币</th>
                                <th>可转移资产</th>
                                <th>钱包地址</th>
                                <th>操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            {volist name="lists" id="vo"}
                            <tr>
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{$vo.Id}</td>
                                <td>{$vo.NickName}</td>
                                <td>{$vo.TJUserNickName}</td>
                                <td>{$vo.JDUserNickName}</td>
                                <td>{$vo.RegisterDate}</td>
                                <td>{if($vo.JiHuoMemberType)}激活{else/}未激活{/if}</td>
                                <td>{$vo.Amount}</td>
                                <td>{$vo.Release}</td>
                                <td>{$vo.WalletAdress}</td>
                                <td>
                                    {if condition="$vo.IsLock == 1"}<a href="{:url(opreation,[lock=>$vo.Id,type=>0])}">解锁</a>{else/}<a href="{:url(opreation,[lock=>$vo.Id,type=>1])}">锁定</a>{/if}&nbsp;
                                    {if condition="$vo.Isjiaoyi == 1"}<a href="{:url(opreation,[trade=>$vo.Id,type=>0])}">解冻转入转出</a>{else/}<a href="{:url(opreation,[trade=>$vo.Id,type=>1])}">冻结转入转出</a>{/if}
                                    <a href="{:url(edit,[Id=>$vo.Id])}">编辑</a>
                                    <a href="{:url(del,[Id=>$vo.Id])}">删除</a>
                                    <select onchange="window.location.href=$(this).children(':selected').attr('url')">
                                        <option>更多</option>
                                        <option url="{:url(info,[Id=>$vo.Id
                                            ])}">查看详情</option>
                                        <option url="{:url(reset,[Id=>$vo.Id
                                            ])}">重置密码</option>
                                    </select>
                                </td>
                            </tr>
                            {/volist}    
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->




            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="__STATIC__/js/laydate.js"></script>
<script>
laydate.render({
  elem: '#calendar',type: 'datetime',range: true
});
</script>


